*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
}

header {
    position: absolute;
    padding: 30px 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.navbar-light .navbar-toggler{
    background-color: #F5F13A;
    z-index: 80;
}
@media (max-width: 991px) {
    .navbar-collapse{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
        z-index: 80;
        padding: 30px 10px;
    }
}

header img{
    max-width: 79px;
    width: 100%;
}
header p{
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 18px;
    color: white;
    font-weight: bold;
}
header ul {
    list-style: none;
    margin-bottom: 0;
}
header li{
    position: relative;
    left: 37px;
    margin-left: 23px;
    margin-bottom: 0;
}
@media (max-width: 991px) {
    header li{
        margin-bottom: 15px;
        left: 0;
    }
}

header li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
@media (max-width: 1200px) {
    header li{
        margin-left: 10px;
    }
}
header li a:hover{
    color: white;
    text-decoration: none;
}
header .botton{
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background-color: #E31717;
}
header .botton:hover{
    background-color: white;
    transition: 0.3s;
    color: black;
    font-weight: bold;
}
.screen_one{
    background-image: url("../img/back_scr_one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 225px 0 38px;
}
.screen_one h1{
    color: white;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 19px;
}
.screen_one h3{
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-bottom: 51px;
}
.screen_one h3 span{
    font-weight: bold;
}
.screen_one a{
    color: white;
    text-decoration: none;
    padding: 27px 42px;
    background-color: #E31717;
    border: solid black 1px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
}

.screen_one .car img{
    max-width: 700px;
    width: 100%;
}
.screen_one h4{
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 4px;
}
.screen_one p{
    font-size: 12px;
    color: white;
    line-height: 14px;
    margin-bottom: 0;
}
.screen_one .worki{
    margin-top: 80px;
}
.screen_one .worki img{
    margin-right: 24px;
}
.screen_two{
    padding: 84px 34px;
}

.screen_two .body_scr_two{
    background-image: url("../img/back_scr_two.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 49px 112px 65px;
    position: relative;
}
.screen_two h3{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    max-width: 352px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}
.screen_two h4{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 36px;
}
.screen_two .text_r{
    color: white;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 24px;
}
.screen_two .text_b{
    margin-bottom: 74px;
}
.screen_two .text_bold{
    color: white;
    text-align: center;
    max-width: 339px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
}
.screen_two .img_one img{
    max-width: 352px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 63px;
}
.screen_two .img_two img{
    max-width: 196px;
    width: 100%;
    position: absolute;
    right: 140px;
    bottom: 63px;
}
.screen_three{
    background-image: url("../img/bg_scr_three.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 96px 20px 54px;
}
.screen_three img{
    max-width: 262px;
    width: 100%;
}
.screen_three h2{
    color: white;
    font-size: 28px;
    font-weight: bold;
    line-height: 35px;
}
.photo_car{
    margin-bottom: 43px;
}
.screen_three .bg_scr_three{
    background-image: url("../img/bg_three.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 74px 0 63px;
}
.screen_three p{
    font-size: 14px;
    color: white;
    max-width: 320px;

}
.screen_three .left p{
    margin-left: 25px;
}
.screen_three .center p{
    margin-right: auto;
    margin-left: auto;
}
.screen_three a{
    margin-top: 40px;
    color: white;
    padding: 27px 54px;
    background-color: #E31717;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    border-radius: 15px;
    border: solid 1px black;
}
.screen_three a:hover{
    background-color: white;
    transition: 0.3s;
    color: black;
    font-weight: bold;
}
.screen_four{
    padding: 56px 0 126px;
}
.screen_four h3{
    font-size: 24px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 23px;
}
.screen_four h4{
    color: white;
    font-size: 18px;
    line-height: 21px;
}
.screen_four .trends h5{
    font-size: 78px;
    font-weight: bold;
    line-height: 92px;
    color: #E31717;
    margin-bottom: 0;
}
.screen_four .trends h6{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 0;
}
.screen_four .trends{
    margin-bottom: 62px;
}
.screen_four .trends p{
    color: white;
    font-size: 18px;
    margin-bottom: 0;
}
.screen_four .left img{
    max-width: 332px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.screen_four .center img{
    max-width: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.screen_four .right img{
    max-width: 320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.screen_four .human{
    padding: 19px 11px 36px;
    background-color: #660000B2;
    height: 474px;
    border-radius: 15px;
}
.screen_four .human h5{
    margin-bottom: 20px;
    font-weight: bold;
}
.screen_four .human h5, .screen_four .human p{
    color: white;
    font-size: 18px;
    line-height: 22px;
}
.screen_five{
    background-image: url("../img/bg_scr_five.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0 101px;
}
.screen_five h2{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 90px;
}
.screen_five h3{
    font-size: 20px;
    color: white;
    line-height: 24px;
    margin-bottom: 87px;
    max-width: 805px;
}
.screen_five .poker{
    margin-bottom: 17px;
}
.screen_five .left img, .screen_five .right img{
    max-width: 100px;
    width: 100%;
    margin-bottom: 30px;
}
.screen_five .center img{
    max-width: 132px;
    margin-bottom: 22px;
}
.screen_five h4{
    color: white;
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    max-width: 175px;
    margin: auto;
}
.screen_five p{
    color: white;
    font-size: 14px;
    line-height: 17px;
}
.screen_six{
    padding: 106px 0 119px;
}
.screen_six h2{
    color: white;
    font-size: 24px;
    margin-bottom: 23px;
    font-weight: bold;
}
.screen_six p{
    font-size: 18px;
    color: white;
    line-height: 21px;
}
.screen_six .title_scr_six{
    margin-bottom: 47px;
}
.screen_six h3{
    font-size: 20px;
    color: white;
    line-height: 25px;
    margin-bottom: 14px;
}
.screen_six .scr_six_img_one{
    margin-bottom: 84px;
}
.screen_six .scr_six_img_one img{
    max-width: 346px;
    width: 100%;
}
.screen_six .scr_six_img_two{
    margin-bottom: 124px;
}
.screen_six .scr_six_img_three{
    margin-bottom: 21px;
}
.screen_six .scr_six_img_three img{
    max-width: 333px;
    width: 100%;
}
.screen_seven {
    background-image: url("../img/bg_scr_seven.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 55px 0 20px;
}
.screen_seven h2{
    color: white;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 23px;
}
.screen_seven p{
    color: white;
    font-size: 18px;
    line-height: 21px;
}
.screen_seven .body_scr_seven{
    margin-top: 75px;
}
.screen_seven .body_scr_seven p, .body_scr_seven_two p{
    max-width: 295px;
}
.screen_seven .body_scr_seven img{
    max-width: 150px;
    width: 100%;
    margin-right: 54px;
}
.body_scr_seven_two img{
    max-width: 104px;
    width: 100%;
    margin-right: 77px;
    margin-left: 23px;
}
.screen_eit{
    padding: 57px 0 44px;
}
.screen_eit h3{
    color: #E31717;
    font-size: 78px;
    font-weight: bold;
    line-height: 92px;
    margin-bottom: 0;
}
.screen_eit h2{
    color: white;
    font-size: 24px;
    max-width: 430px;
    font-weight: bold;
}
.screen_eit h4{
    color: white;
    font-size: 24px;
    line-height: 30px;
    max-width: 153px;
}
.screen_eit img{
    max-width: 332px;
    width: 100%;
    margin-bottom: 29px;
}
.screen_eit .body_scr_eit{
    background-color: #660000B2;
    padding: 19px 11px;
    border-radius: 15px;
}
.screen_eit h5{
    font-size: 18px;
    color: white;
    line-height: 22px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}
.screen_eit p{
    font-size: 18px;
    color: white;
}
.screen_eit a{
    color: white;
    font-size: 14px;
    line-height: 17px;
    padding: 27px 26px;
    background-color: #E31717;
    border: solid 1px black;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
}
.screen_eit a:hover{
    background-color: white;
    transition: 0.3s;
    color: black;
    font-weight: bold;
}
.screen_ten{
    padding: 57px 0 267px;
    position: relative;
}
.screen_ten .bg_screen_ten{
    background-image: url("../img/bg_screen_ten.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 263px 94px 152px;
    background-position: center;
}
.screen_ten .bg_screen_ten h3{
    color: white;
    font-size: 23px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 45px;
}
.screen_ten .bg_screen_ten p{
    color: white;
    font-size: 16px;
}
.screen_ten .bg_screen_ten .right p{
    margin-bottom: 50px;
    max-width: 268px;
}
.screen_ten a{
    background-color: #E31717;
    padding: 27px 51px;
    text-decoration: none;
    border-radius: 15px;
    border: solid 1px black;
    color: white;
    position: relative;
    z-index: 10;
}
.screen_ten a:hover{
    background-color: white;
    transition: 0.3s;
    color: black;
    font-weight: bold;
}
.screen_ten .image img{
    position: absolute;
    bottom: 40px;
    left: 0;
    max-width: 902px;
    width: 100%;
}
.eleven{
    padding: 40px 0 87px;
}
.eleven .bg_scr_eleven{
    background-image: url("../img/bg_screen_eleven.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15px 86px 20px 157px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1145px;
    margin: auto;
}
.eleven .right_{
    max-width: 486px;
}
.eleven h3{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 23px;
}
.eleven p{
    color: white;
    font-size: 18px;
    line-height: 21px;
}
.eleven h4{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.eleven img{
    max-width: 153px;
    width: 100%;
}
.twelve {
    background-image: url("../img/bg_scr_twelve.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 83px 0 150px;
}
.twelve h3{
    max-width: 580px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 27px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.twelve h4{
    color: white;
    font-size: 20px;
    margin-bottom: 13px;
}
.twelve .body_scr_twelve{
    background-image: url("../img/bg_img_two_eleven.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 29px 0 100px;
    margin: auto;
    width: 100%;
}
.twelve p{
    color: white;
    font-size: 18px;
    line-height: 21px;
    max-width: 486px;
    margin-bottom: 27px;
    margin-right: auto;
    margin-left: auto;
}
.twelve .social{
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    max-width: 340px;
}
.twelve .social a img:hover{
    -webkit-box-shadow: 0px 0px 39px 12px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 0px 0px 39px 12px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 39px 12px rgba(255, 255, 255, 0.2);
}
footer{
    padding: 89px 0 47px;
}
footer img{
    margin-right: 20px;
    max-width: 80px;
    width: 100%;
}
footer a .logo  p{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
footer a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: white;
    text-decoration: none;
}