*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2e2e2e;
}

header {
    position: absolute;
    padding: 30px 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.navbar-light .navbar-toggler{
    background-color: #F5F13A;
    z-index: 80;
}
@media (max-width: 991px) {
    .navbar-collapse{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: black;
        z-index: 80;
        padding: 30px 10px;
    }
}

header img{
    max-width: 79px;
    width: 100%;
}
header p{
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 18px;
    color: white;
    font-weight: bold;
}
header ul {
    list-style: none;
    margin-bottom: 0;
}
header li{
    position: relative;
    left: 37px;
    margin-left: 23px;
    margin-bottom: 0;
}
@media (max-width: 991px) {
    header li{
        margin-bottom: 15px;
        left: 0;
    }
}

header li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
@media (max-width: 1200px) {
    header li{
        margin-left: 10px;
    }
}
header li a:hover{
    color: white;
    text-decoration: none;
}
header .botton{
    font-size: 14px;
    padding: 10px 40px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    background-color: #E31717;
}
header .botton:hover{
    background-color: white;
    transition: 0.3s;
    color: black;
    font-weight: bold;
}
.screen_one{
    background-image: url("../img/back_scr_one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 225px 0 38px;
}
.screen_one h1{
    color: white;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 19px;
}
.screen_one h3{
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-bottom: 51px;
}
.screen_one h3 span{
    font-weight: bold;
}
.screen_one a{
    color: white;
    text-decoration: none;
    padding: 27px 42px;
    background-color: #E31717;
    border: solid black 1px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
}

.screen_one .car img{
    max-width: 700px;
    width: 100%;
}
.screen_one h4{
    color: white;
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 4px;
}
.screen_one p{
    font-size: 12px;
    color: white;
    line-height: 14px;
    margin-bottom: 0;
}
.screen_one .worki{
    margin-top: 80px;
}
.screen_one .worki img{
    margin-right: 24px;
}
.screen_two{
    padding: 84px 34px;
}

.screen_two .body_scr_two{
    background-image: url("../img/back_scr_two.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 49px 112px 65px;
    position: relative;
}
.screen_two h3{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    max-width: 352px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}
.screen_two h4{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 36px;
}
.screen_two .text_r{
    color: white;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 24px;
}
.screen_two .text_b{
    margin-bottom: 74px;
}
.screen_two .text_bold{
    color: white;
    text-align: center;
    max-width: 339px;
    margin-right: auto;
    margin-left: auto;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
}
.screen_two .img_one img{
    max-width: 352px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 63px;
}
.screen_two .img_two img{
    max-width: 196px;
    width: 100%;
    position: absolute;
    right: 140px;
    bottom: 63px;
}
.screen_three{
    background-image: url("../img/bg_scr_three.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 96px 20px 54px;
}
.screen_three img{
    max-width: 262px;
    width: 100%;
}
.screen_three h2{
    color: white;
    font-size: 28px;
    font-weight: bold;
    line-height: 35px;
}
.photo_car{
    margin-bottom: 43px;
}
.screen_three .bg_scr_three{
    background-image: url("../img/bg_three.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 74px 0 63px;
}
.screen_three p{
    font-size: 14px;
    color: white;
    max-width: 320px;
    margin: auto;
}
.screen_three a{
    margin-top: 40px;
    color: white;
    padding: 27px 54px;
    background-color: #E31717;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    border-radius: 15px;
    border: solid 1px black;
}
.screen_four{
    padding: 56px 0 126px;
}
.screen_four h3{
    font-size: 24px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 23px;
}
.screen_four h4{
    color: white;
    font-size: 18px;
    line-height: 21px;
}